<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-new">
    <h1 class="rainbow-text">Add New Activity</h1>
        <form action="/activities" method="POST">
          Name: <input type="text" name="name" /> <br> <br>
          Description: <input type="textarea" name="description"/>
          <br>
          Image: <input type="text" name="img"> <br> <br>
          Tags: <input type="text" name="tags"> <br> <br>
          <input class="new-submit" type="submit" value="Add New Activity">
          <br>
          <br>
          <a href="/activities">Back</a>
      </div>
  </body>
</html>
