<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <link type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="container">
    <h1>Add New Activity</h1>
        <form action="/activities" method="POST">
          Name: <input type="text" name="name" /> <br>
          Description: <input type="text" name="description"/>
          <br>
          Image: <input type="text" name="img"> <br>
          Tags: <input type="text" name="tags"> <br>
          <input type="submit" value="Add New Activity">
      </div>
  </body>
</html>
