<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <link type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="container-show">

          <h1 class="rainbow-text"><%=activity.name; %></h1>
          <h4>Description: <%=activity.description; %> <br></h4>
          <img src="<%=activity.img; %>"> <br>

          <a href="/activities">Go Back</a>
      </div>
  </body>
</html>
