<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

          <h1>Activity Page</h1>
          Name: <%=activity.name; %> <br>
          Description: <%=activity.description; %> <br>
          <img src="<%=activity.img; %>"> <br>

          <a href="/activities">Go Back</a>
      </div>
  </body>
</html>
