
body {
  background-color: whitesmoke;
  text-align: center:
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: #E0DCDF; */
  width: 100%;
  padding: 0.5em;
}

.container-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-new > form  {
  width: 400px;
  font-family: sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 1em;
  /* padding: 1em; */
}

.container-new > form > input {
  width: 500px;
  text-align: center;
  font-size: 1em;
}

.new-submit {
  background-color: #f51b1f;
  /* padding: 1em; */
  font-variant-caps: all-small-caps;
  font-size: 2em;
  text-align: center;
}

.card {
  width: 30%;
  height: 600;
  /* border: 2px solid rgba(219, 10, 91); */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #E0DCDF;
}

.banner {
  display: flex;
  flex-direction: row;
  padding: 1em 0.5em;
  align-items: center;
  justify-content: space-around;
}

.austin-img {
  width: 20%;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  font-size: 3.5em;
  padding: 0.5em 2em;
  background-color: rgba(255, 0, 0);
  margin: 0;
  text-align: right;
}

h2 {
  font-size: 1.1em;
  font-family: 'Fredericka the Great', cursive;
}

h3 {
  font-size: 0.7em;
}

h4 {
  font-family: 'Hind Vadodara', sans-serif;
  color: #5B5858;
  width: 80%;
}

.newLink {
  margin: 0;
  padding-bottom: 1em;
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  font-size: 1.5em;
}

.rainbow-text {
  background-image: linear-gradient(to left, blue, indigo, red, blue);
   -webkit-background-clip: text;
  color: transparent;
}
/* from w3bits.com */

.activityText {
  color: #000a57;
}

img {
  width: 100%;
  height: 300px;
  border-radius: 0.5em;
}

li {
  list-style: none;
  font-size: 1.5em;
}

input {
  background-color: indigo;
  width: 15em;
  height: 3em;
  border-radius: 1em;
  color: whitesmoke;
  font-weight: bold;
}
.container-show {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.container-show > h4 {
  font-size: 2em;
  font-family: sans-serif;
  width: 70%;
}

.showh1 {
  font-size: 4em;
}

.showImg {
  height: 400px;
  width: 80%;
}


.tags {
  font-family: 'Fredericka the Great', cursive;
}

.background {
  padding: 1em;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 0.8em;
}
